# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

# Env variables
.env

# Virtual environment
venv/
env/
*.venv
*.env
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Django stuff:
*.migrations/

# Pytest cache
.pytest_cache/

# MySQL dumps
*.sql

# Twilio
*.twilio

# VSCode project settings
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs and databases
*.log
*.sql
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Local env files
*.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
